* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #CED4DA
}

.texto {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 10%;
    top: 15%;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    background-color:#ADB5BD;
}

.texto::placeholder {
    color: #343A40;

}

.texto:focus,.texto:active {
    border: none;
    outline: none;
}

.terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 80%;
    left: 10%;
    top: 80%;
    font-size: 12px;
    opacity: 0.8;

}

.terminos p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 70%;
    left: 10%;
    top: 82%;
    gap: 20px;
}

.btn-cifrar {
    align-items: center;
    justify-content: center;
    padding: 3%;
    gap: 8px;
    width: 25%;
    background-color: #343A40;
    border-radius: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: white;
    border: 1px solid #343A40;
}

.btn-descifrar {
    align-items: flex-start;
    justify-content: center;
    padding: 3%;
    gap: 8px;
    width: 25%;
    background-color: #495057;
    border-radius: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border: 1px solid #343A40;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 19px;
    color: antiquewhite;
    text-align: center;
}

.btn-cifrar:hover, .btn-descifrar:hover {
    margin: 0.4%;
    width: 24.7%;
    padding: 3.0%;
}

.encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background-color:#ADB5BD;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
}

.mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2 {
    width: 60%;;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.mensaje-encriptado p {
    width: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #343A40;
}

.encriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.imagen {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

@media (max-width: 57.5em) {
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptar {
        width: 100%;
    }

    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 16px;
    }

    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
        gap: 20px;
    }

    .btn-cifrar, .btn-descifrar {
        width: 50%;
        border-radius: 16px;
    }

    .btn-cifrar:hover, .btn-descifrar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }


}

@media (max-width: 47.5em) {
    
    .container{
        display: flex;
        flex-direction: row;
    }

    .encriptar {
        width: 100%;
    }

    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
        font-size: 12px;
    }

    .terminos {
        width: 80%;
        left: 10%;
        top: 67%;
    }

    .terminos p {
        font-size: 10px;
    }

    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
        gap: 20px;
    }

    .btn-cifrar, .btn-descifrar {
        width: 50%;
        border-radius: 16px;
        font-size: 11px;
    }

    .btn-cifrar:hover, .btn-descifrar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado {
        width: 80%;
        height: 12%;
        left: 10%;
        top: 80%;
    }

    .mensaje-encriptado {
        width: 100%;
        top: 5%;
    }

    .mensaje-encriptado h2 {
        font-size: 12px;
    }

    .mensaje-encriptado p{
        font-size: 10px;
    }

    .encriptado img {
        top: 0;
        display: none;
        visibility: hidden;
    }

}